html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position:absolute;
  transition: all 500ms linear
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

body{
  position:relative;
}

.polaroid:first-child {
  position: absolute;
  left: 20%;
  top: 100px;
  z-index: 1;
  transform: rotate(-15deg);
}
.polaroid:nth-child(2) {
  position: absolute;
  left: 30%;
  top: 150px;
  z-index: 3;
  transform: rotate(5deg);
}

.polaroid:nth-child(3) {
  position: absolute;
  left: 40%;
  top: 100px;
  z-index: 2;
  transform: rotate(35deg);
}
.polaroid:hover {
  transform: rotate(0deg);
  z-index: 10;
  box-shadow: 2px 20px 24px rgba(0, 0, 0, .5);
}
